.modal-layout {
  font-family: "Roboto Flex";
  height: 800px;
  width: 600px;
  border-radius: 50px;
  color: white;
  border: none;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: #07141ab4;
}

.modal-info {
  color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.modal-stats-inner {
  margin-top: 60px;
  margin-left: 100px;
  height: 100%;
  width: 100%;
}

.modal-main {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-shell {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modal-poke-shiny {
  height: 300px;
  width: 300px;
}

.modal-basic {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #91a07e3b;
  overflow: hidden;
}

.modal-header {
  font-size: 32px;
  height: 60px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.modal-single-card-header {
  padding-top: 8px;
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: start;
  font-weight: bold;
}

.modal-poke-name {
  height: 40px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

.modal-poke-sprite {
  height: 300px;
  width: 300px;
  object-fit: contain;
  margin: -16px 0;
}

.modal-type-container {
  display: flex;
}

.footer-modal {
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal-left-btn {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  padding: 10px;
  background-color: #7f9cdf;
  background-image: url("../assets/img/left.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-right-btn {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  padding: 10px;
  background-color: #7f9cdf;
  background-image: url("../assets/img/right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

body.noscroll {
  overflow: hidden;
}

.display-toggle {
  display: none;
}

.display-toggle-on {
  display: block;
}

.underline {
  text-decoration: underline;
}

.modal-info-inner-layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
