.modal-layout {
  font-family: "Roboto Flex";
  height: 1200px;
  width: 700px;
  border-radius: 25px;
  color: white;
  border: none;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-info {
  color: rgb(0, 0, 0);
  height: 50%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-basic {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 100%;
  width: 100%;
}

.modal-header {
  font-size: 32px;
  height: 60px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

body.noscroll {
  overflow: hidden;
}
