.modal-layout {
  width: 600px;
  height: 800px;
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "Roboto Flex";
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: #07141ab4;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.modal-info-inner-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-stats-inner {
  margin-top: 60px;
  margin-left: 100px;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.outer-shell {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.modal-poke-shiny {
  width: 300px;
  height: 300px;
}

.modal-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: #7e86a03b;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 90%;
  text-align: center;
  font-size: 32px;
}

.modal-single-card-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 40px;
  width: 80%;
  padding-top: 8px;
  font-weight: bold;
}

.modal-poke-name {
  height: 40px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

.modal-poke-sprite {
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin: -16px 0;
}

.modal-type-container {
  display: flex;
}

.footer-modal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 40px;
  margin-bottom: 40px;
}

.modal-left-btn,
.modal-right-btn {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  padding: 10px;
  background-color: #7f9cdf;
  background-size: contain;
}

.modal-left-btn {
  background-image: url("../assets/img/left.png");
}

.modal-right-btn {
  background-image: url("../assets/img/right.png");
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

body.noscroll {
  overflow: hidden;
}

.display-toggle {
  display: none;
}

.display-toggle-on {
  display: flex;
  flex-direction: column;
}

.underline {
  text-decoration: underline;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media (max-width: 700px) {
  .modal-layout {
    width: 400px;
    height: 600px;
  }

  .modal-poke-sprite {
    width: 200px;
    height: 200px;
  }

  .modal-header {
    font-size: 22px;
  }

  .modal-stats-inner {
    font-size: 18px;
  }

  .modal-left-btn,
  .modal-right-btn {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .outer-shell {
    flex-direction: column;
    align-items: center;
  }
  .modal-type-container {
    justify-content: center;
  }
  .modal-poke-name {
    display: flex;
    justify-content: center;
  }
  .modal-poke-sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
  }

}
