* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/img/pokedex-backdrop.png);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-content {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #7f9cdf;
}
.logo-img {
  height: 80px;
}

header {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 8px 0px rgba(71, 72, 73, 0.671);
  background: #6778f3;
  background: linear-gradient(
    294deg,
    rgba(103, 120, 243, 1) 0%,
    rgba(127, 156, 223, 1) 29%,
    rgba(240, 226, 177, 1) 83%
  );
}

.poke-cards-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.single-cards {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 25px;
  color: white;
  box-shadow: 5px 5px 5px rgb(45, 54, 63);
}

.poke-sprite {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.poke-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(45, 54, 63, 0.651);
  margin: 8px;
}

.type-normal {
  background-color: #a8a77a;
}

.type-fire {
  background-color: #ee8130;
}

.type-water {
  background-color: #6390f0;
}

.type-electric {
  background-color: #f7d02c;
}

.type-grass {
  background-color: #7ac74c;
}

.type-ice {
  background-color: #96d9d6;
}

.type-fighting {
  background-color: #c22e28;
}

.type-poison {
  background-color: #a33ea1;
}

.type-ground {
  background-color: #e2bf65;
}

.type-flying {
  background-color: #a98ff3;
}

.type-psychic {
  background-color: #f95587;
}

.type-bug {
  background-color: #a6b91a;
}

.type-rock {
  background-color: #b6a136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6f35fc;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #b7b7ce;
}

.type-fairy {
  background-color: #d685ad;
}
