* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-img {
  height: 80px;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.poke-cards-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.single-cards {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 25px;
}

.poke-sprite {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.type-normal {
  background-color: #a8a77a;
}

.type-fire {
  background-color: #ee8130;
}

.type-water {
  background-color: #6390f0;
}

.type-electric {
  background-color: #f7d02c;
}

.type-grass {
  background-color: #7ac74c;
}

.type-ice {
  background-color: #96d9d6;
}

.type-fighting {
  background-color: #c22e28;
}

.type-poison {
  background-color: #a33ea1;
}

.type-ground {
  background-color: #e2bf65;
}

.type-flying {
  background-color: #a98ff3;
}

.type-psychic {
  background-color: #f95587;
}

.type-bug {
  background-color: #a6b91a;
}

.type-rock {
  background-color: #b6a136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6f35fc;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #b7b7ce;
}

.type-fairy {
  background-color: #d685ad;
}
