* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-img {
  height: 80px;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.poke-cards-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.single-cards {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border-radius: 25px;
}

.poke-sprite {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
