* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Roboto Flex";
}

@font-face {
  font-display: swap;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-flex-v30-latin-regular.woff2") format("woff2");
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6A7DF0;
}

button:hover {
  cursor: pointer;
}

main {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/img/pokedex-backdrop.png);
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-content {
  max-width: 1920px;
  width: 100%;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #7f9cdf;
}

.logo-img {
  height: 150px;
}

.logo-text {
  height: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 200px;
  width: 800px;
  gap: 15px;
  justify-content: space-around;
}

.align-search-btn {
  display: flex;
}

input {
  height: 50px;
  width: 400px;
  border-radius: 15px;
  font-size: 24px;
}

.feedback {
  font-size: 18px;
  color: #d9534f;
}

.search-btn {
  height: 50px;
  border-radius: 15px;
  padding: 15px;
  background-color: #7f9cdf;
}

.main-header {
  height: 200px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 8px 0px rgba(71, 72, 73, 0.671);
  background: #6778f3;
  background: linear-gradient(
    294deg,
    rgba(103, 120, 243, 1) 0%,
    rgba(127, 156, 223, 1) 29%,
    rgba(240, 226, 177, 1) 83%
  );
}

.main-footer{
  height: 200px;
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 8px 0px rgba(71, 72, 73, 0.671);
  background: #6778f3;
  background: linear-gradient(
    294deg,
    rgba(103, 120, 243, 1) 0%,
    rgba(127, 156, 223, 1) 29%,
    rgba(240, 226, 177, 1) 83%
  );
  padding-left: 30px;
  padding-right: 30px;
}

.poke-cards-display {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.single-cards {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(197, 218, 221, 0.623);
  border-radius: 25px;
  color: white;
  box-shadow: 5px 5px 5px rgb(17, 93, 170);
}

.single-cards:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(171, 219, 223);
}

.single-card-header {
  padding-top: 8px;
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: start;
  font-weight: bold;
}

.poke-name {
  height: 40px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(32, 29, 29);
}

.poke-sprite {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: -16px 0;
}

.poke-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgba(45, 54, 63, 0.651);
  margin: 8px;
}

.type-container {
  display: flex;
}

.type-normal {
  background-color: #a8a77a;
}

.type-fire {
  background-color: #ee8130;
}

.type-water {
  background-color: #6390f0;
}

.type-electric {
  background-color: #f7d02c;
}

.type-grass {
  background-color: #7ac74c;
}

.type-ice {
  background-color: #96d9d6;
}

.type-fighting {
  background-color: #c22e28;
}

.type-poison {
  background-color: #a33ea1;
}

.type-ground {
  background-color: #e2bf65;
}

.type-flying {
  background-color: #a98ff3;
}

.type-psychic {
  background-color: #f95587;
}

.type-bug {
  background-color: #a6b91a;
}

.type-rock {
  background-color: #b6a136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6f35fc;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #b7b7ce;
}

.type-fairy {
  background-color: #d685ad;
}

.load-more-btn {
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;
  color: white;
  background-color: #8598dd;
}

.display-none {
  display: none;
}

@media(max-width: 1380px){
.search-bar {    
  height: 200px;
  width: 600px;   
}

.logo-text {
  height: 60px;
  width: 400px;
}
}

@media(max-width: 1200px){
.logo-text {
  display: none;
}
}

@media(max-width: 800px){
    .search-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width: 700px){
    .search-bar {
        display: none;
    }
}
